@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&family=Bungee+Hairline&family=Noto+Sans+Zanabazar+Square&family=Rubik+Mono+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 20, 20);
  background-image: url(/IMG/signal-2023-03-07-120847_002.jpg);
  background-repeat: no-repeat;
  background-position-y: 112px  ;
  background-attachment: fixed;
}
.sec-body {
  background-color: rgb(235, 235, 235);
}
.thrd-body {
  background-color: rgb(20, 20, 20);
}

nav ul {
  padding-left: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  margin-top: 0;
  top: 0px;
  padding-top: 1vw;
  padding-bottom: 4vw;
  background-image: linear-gradient(rgba(20, 20, 20, 1), 90%, rgba(20, 20, 20, 0));
  z-index: 999;
}
nav li {
  display: inline-block;
  width: 20%;
}
nav li a button{
  font-family: 'Signika Negative', sans-serif;
  color: white;
  font-size: 13px;
  text-decoration: none;
}
nav li a button:hover {
  color: white;
}

h3 {
  font-family:'Rubik Mono One', sans-serif;
  color: white;
  padding-top: 190px;
  display: flex;
  justify-content: right;
  width: 100%;
  margin-bottom: 10px;
  font-size: 5vw;
  letter-spacing: 10px;
}

h1 {
  font-size: 4vw;
  font-family: 'Rubik Mono One', sans-serif;
  position: relative;
  justify-content: right;
  display: flex;
  color: #fff;
  margin-bottom: 220px;
  margin-right: 5px;
}

h2 {
  position: relative;
  justify-content: center;
  display: flex;
  font-family: 'Rubik Mono One', sans-serif;
  color: #fff;
  word-spacing: 130px;
  font-size: 2vw;
}

article {
  font-family: 'Signika Negative', sans-serif;
  text-decoration: none;
  margin: auto;
  color: white;
  margin-top: 10px;
  max-width: 75%; 
  text-align: center;
  margin-bottom: 35px;
  font-size: 2vw;
  background-color:rgba(0, 0, 0, 0.5);
  border-style: dashed;
  padding: 10px 10px 10px;
}

#mail {
  font-size: 2vw;
  color: rgb(255, 187, 0);
  text-decoration: none;
}
#mail:hover {
  color: rgb(133, 98, 0);
  cursor: pointer;
}

footer {
  background-image: linear-gradient(rgba(20, 20, 20, 0), rgba(20, 20, 20, 1));
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 4px;
  justify-content: center;
  margin-bottom: 4vw;
}
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0px 4px;
  justify-items: center;
}

.img {
  vertical-align: middle;
  width: 100%;
  border-radius: 5%;
}

@media screen and (max-width:800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width:600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

button {
  background: none;
  border: none;
  color: inherit;
  font-family: 'Signika Negative', sans-serif;
}

button:hover {
  color: #686868;
}

p {
  text-align: center;
  padding-top: 8px;
  font-family: 'Signika Negative', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.wrap_1 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_2 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_3 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_4 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_5 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_6 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_7 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_8 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_9 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_10 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-device-width: 500px) {
  .p_1 {
    visibility: visible;
    opacity: 1;
  }
}

.p_1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  border-radius: 4.8%;
}
.p_2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  border-radius: 4.8%;
}
.p_3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  border-radius: 4.8%;
}
.p_4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  border-radius: 4.8%;
}
.p_5 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  border-radius: 4.8%;
}
.p_6 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  border-radius: 4.8%;
}
.p_7 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  border-radius: 4.8%;
}
.p_8 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  border-radius: 4.8%;
}
.p_9 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  border-radius: 4.8%;
}
.p_10 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  border-radius: 4.8%;
}


.sub {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: 150px;
  padding: 20px 20px 20px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  visibility: hidden;
  border-radius: 5%;
  border-style: dashed;
}
.sub button {
  color: rgb(255, 187, 0);
}
.sub button:hover {
  color: rgb(133, 98, 0);
}
.column button {
  color: rgb(255, 187, 0);
}
.column button:hover {
  color: rgb(133, 98, 0);
}