@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: crosshair;
}

body {
  background-color: rgb(20, 20, 20);
  background-image: url(/IMG/signal-2023-03-07-120847_002.jpg);
  background-repeat: no-repeat;
  background-position-y: 7vw;
  background-attachment: fixed;
}
.sec-body {
  background-color: rgb(235, 235, 235);
}
.thrd-body {
  background-color: rgb(20, 20, 20);
}

nav ul {
  padding-left: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  margin-top: 0;
  top: 0px;
  padding-top: 1vw;
  padding-bottom: 4vw;
  background-image: linear-gradient(rgba(20, 20, 20, 1), 90%, rgba(20, 20, 20, 0));
  z-index: 999;
}
nav li {
  display: inline-block;
  width: 10%;
}
nav li a {
  font-family: 'Signika Negative', sans-serif;
  color: white;
  font-size: 1vw;
  text-decoration: none;
  filter: blur(0.04vw);
}
nav li a:hover {
  color: white;
}

.containerwave {
  min-height: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 100px;
}
.textwave {
  font-family: 'Signika Negative', sans-serif;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  filter: blur(0.09vw);
}
.textwave span {
  padding: 0 0.5vw;
  font-size: 5vw;
  animation: zoomup 0.9s ease infinite;
  animation-delay: calc(250ms * var(--i));
  display: inline-block;
  color: white;
}
@keyframes zoomup {
  0% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25) translateY(-3vw);
    opacity: 0;
  }
}

.aroundme {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.aboutme {
  width: 50%;
  height: 100%;
  color: red;
}

article {
  font-family: 'Signika Negative', sans-serif;
  text-decoration: none;
  margin: auto;
  color: white;
  margin-top: 10px;
  max-width: 75%; 
  text-align: center;
}

footer {
  background-image: linear-gradient(rgba(20, 20, 20, 0), rgba(20, 20, 20, 1));
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 4px;
  justify-content: center;
}
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0px 4px;
  justify-items: center;
}

.img {
  vertical-align: middle;
  width: 100%;
  border-radius: 5%;
}

@media screen and (max-width:800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width:600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

p {
  text-align: center;
  padding-top: 8px;
  font-family: 'Signika Negative', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.wrap_1 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_2 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_3 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_4 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_5 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_6 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_7 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_8 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}
.wrap_9 {
  margin-top: 10px;
  position: relative;
  height: 31,25vw;
  width: 37,5vw;
  margin-left: auto;
  margin-right: auto;
}

.p_1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.wrap_1:hover .p_1 {
  visibility: visible;
  opacity: 1;
}
.p_2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.wrap_2:hover .p_2 {
  visibility: visible;
  opacity: 1;
}
.p_3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.wrap_3:hover .p_3 {
  visibility: visible;
  opacity: 1;
}
.p_4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.wrap_4:hover .p_4 {
  visibility: visible;
  opacity: 1;
}
.p_5 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.wrap_5:hover .p_5 {
  visibility: visible;
  opacity: 1;
}
.p_6 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.wrap_6:hover .p_6 {
  visibility: visible;
  opacity: 1;
}
.p_7 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.wrap_7:hover .p_7 {
  visibility: visible;
  opacity: 1;
}
.p_8 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.wrap_8:hover .p_8 {
  visibility: visible;
  opacity: 1;
}
.p_9 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.wrap_9:hover .p_9 {
  visibility: visible;
  opacity: 1;
}


